:root {
    --background-color: #eee;
    --article-background-color: #fff;
    --text-color: #000;
    --hyperlink-normal-color: #00f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #666;
        --article-background-color: #000;
        --text-color: #ccc;
        --hyperlink-normal-color: #0ff;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

main {
    padding: 20px;
    width: 100vh;
    max-width: 1000px;
    min-height: 100vh;
    background-color: var(--article-background-color);
}

h1 {
    width: 100%;
    border-bottom: 2px var(--text-color) solid;
}

h2 {
    width: 100%;
    border-bottom: 2px #ccc solid;
}

a {
    color: var(--hyperlink-normal-color);
}

a:active {
    color: #f60;
}

a:visited {
    color: #c6f;
}

img {
    max-height: 30vh;
}

blockquote {
    padding: 10px 5px;
    border: 2px skyblue solid;
    border-radius: 6px;
}